* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* display: grid;
  place-items: center;
  height: 100vh; */
}

header {
  background-color: #393e46;
  color: #eeeeee;
  text-align: center;
  padding: 8px 0;
}
